<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
     {% comment %} the above list is to import button and other picture form bootstrap {% endcomment %}
<title>LAPTOP COMPARISON</title>
</head>
<body>

<h1>Laptop 2022</h1>
{% comment %} <button class="btn btn-sucess"><a href="{% url 'create' %}" style="text-decoration:none;color:green;">Add Laptops</a></button> {% endcomment %}


<table>
    <tr>

 
      <th scope="col">Company</th>
      <th scope="col">Model</th>
      <th scope="col">Price</th>
      <th scope="col">RAM</th>
      <th scope="col">CPU</th>
    </tr>

    {% for laptop in laptops %}
    <tr>
      <td>{{laptop.manufacture}}</td>
      <td>{{laptop.name}}</td>
      <td>{{laptop.price}}</td>
      <td>{{laptop.ram}}</td>
      <td>{{laptop.cpu}}</td>


      
      <td> 
        <a href="{% url 'laptop-update' laptop.id %}">
          {% comment %} <i class ="bi bi-pencil-square" aria-hidden="true">
          </i> {% endcomment %}
          update
        </a>
      </td>

      <td> 
        <a href="{% url 'laptop-delete' laptop.id %}">
          {% comment %} <i class ="bi bi-pencil-square" aria-hidden="true">
          </i> {% endcomment %}
          delete
        </a>
      </td>

      {% comment %} <td>
      <a href="{% url 'delete' laptop.id %}"
      onclick="return confirm('Are you sure you want to delete this item?');"><i class="bi bi-trash-fill" aria-hidden="true"></i></a>
      </td>
      
      <td>
      <a href="{% url 'update' laptop.id %}"
      onclick="return confirm('Are you sure you want to update this item?');"><i class="bi bi-pencil-square" aria-hidden="true"></i></a>
      </td> {% endcomment %}
      
    </tr>
    {% endfor %}
  </table>
  <div class="pagination">
    <span class="step-links">
        {% if laptops.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ laptops.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ laptops.number }} of {{ laptops.paginator.num_pages }}.
        </span>

        {% if laptops.has_next %}
            <a href="?page={{laptops.next_page_number }}">next</a>
            <a href="?page={{ laptops.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
  

</body>
</html>


